h1 {
  color:rgb(226, 32, 32);
  font-style;
}
h2 {
  color: aqua;
  font-style: italic;
  font-weight: 200;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  line-height: 20px;
  text-align: center;
}

p {
  font-family: sans-serif;
}
